<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
            <div class="row">
                <div class= "col-md-10 col-12 mx-auto">
                        <div class="row">
                            <div class= "col-md-6 col-12 main_header_right align-items-center">
                                    <img src="images/14.png" alt="AnuragAnand" class= "img-fluid"> 
                            </div>
                            <div class= "col-md-6 col-12 main_header_left">
                                    <p>Welcome to weather app</p>
                                    <h1>I am a <span class= "coll">web developer and a competitive coder</span></h1>
                                    <a href="https://codeforces.com/profile/anuraganand2046"><button>About Me</button></a>
                            </div>
                        </div>
                </div>
            </div>
    </div>
    {{>footer}}
</body>
</html>